services:
  # Generate KiCad schematic from Python spec
  generate-sch:
    image: python:3.12-slim
    volumes:
      - ./scripts:/scripts:ro
      - ./hardware/kicad:/output
    working_dir: /scripts
    command: python3 -m generate_schematics /output

  # Export KiCad schematic to SVG/PDF
  kicad:
    build:
      context: ./docker/kicad
    volumes:
      - ./hardware/kicad:/project
      - ./website/static/img/schematics:/output
    working_dir: /project

  # Render OpenSCAD enclosure to PNG
  openscad:
    build:
      context: ./docker/openscad
    init: true
    volumes:
      - ./hardware/enclosure:/project
      - ./website/static/img/renders:/output
    working_dir: /project
